{% extends 'base.html.twig' %}

{% block title %}Hello FruitsController!{% endblock %}

{% block body %}
{% for fruit in fruits %}
    <style>
        .border{
            border:1px solid black;
            width: fit-content;
            padding: 15px;
        }
    </style>
    <div class="border">
        <p>{{ fruit.name }}</p>
        <p>{{ fruit.color }}</p>
        <a href="{{ path('') }}"></a>
    </div>
{% endfor %}
{% endblock %}
