{% extends 'base.html.twig' %}

{% block title %}Hello FruitsController!{% endblock %}

{% block body %}
{% for fruit in fruits %}
    <style>
        .border{
            border:1px solid black;
            width: fit-content;
            padding: 15px;
        }
    </style>
    <div class="border">
        <p>{{ fruit.name }}</p>
        <p>{{ fruit.color }}</p>
        <a href="{{ path('show_fruit',{id : fruit.id}) }}">voir plus</a>
        <a href="{{ path('delete_fruit', { id:fruit.id}) }}">supp</a>

    </div>
{% endfor %}
{% endblock %}
