{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .border{
            border:1px solid black;
            width: fit-content;
            padding: 15px;
        }
    </style>
    <div class="border">
        <p>{{ fruits.name }}</p>
        <p>{{ fruits.color }}</p>
        <a href="{{ path('fruits') }}">retour à l'accueil</a>
    </div>

{% endblock %}



